/* Navy Blue: #0F1626
Leather: #AB987A
Coral: #FF533D
Eggshell: #F5F5F5 */

body {
  background-color: #F5F5F5;
  color: #0F1626;
  height: 100%;
}

.logo {
  color: #FF533D;
}

.logo-splash {
  background-color: #F5F5F5;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.logo-header {
  display: flex;
  justify-content: center;
}

.line {
  color: #AB987A;
  display: flex;
  flex-direction: row;
}

hr {
  border: solid 1px #AB987A;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 90vw;
}

#map {
  border-top: solid 2px #FF533D;
  border-bottom: solid 2px #FF533D;
  height: 40vw;
  width: 100vw;
}

.near-you {
  display: flex;
  justify-content: center;
  color: #AB987A;
}

.custom-select {
  border: solid 2px #AB987A;
  background-color:  #AB987A;
}

.restaurants-img {
  height: 20vw;
  margin-top: 1vw;
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.not-filter {
  display: none;
}