/* Navy Blue: #0F1626
Leather: #AB987A
Coral: #FF533D
Eggshell: #F5F5F5 */

body {
  background-color: #F5F5F5;
  color: #0F1626;
}

.logo {
  background-color: #F5F5F5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #FF533D;
}